mixin testvue(data = {})
  -
    const {
    } = data;

  .js-testvue
    div
      h3 #{$i18n.index.vue}
    testvue-child
    ul
      li(v-for="(item, index) in list")
        button(@click="clickaction(index)") {{ index }} - {{ item }}
