extends ../layouts/layout.pug

include ../components/svg/svg.pug
include ../components/deviceinfo/deviceinfo.pug

block head
  title pugjs index page

block content
  .container
    .info
      +svg({iconName: 'info'})
      +deviceinfo
