.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid transparent;
  background: #0f2634;
  z-index: 10;
  color: #f0f0f0;;
  text-align: center;
  margin-bottom: 20px;
}
